#name {
  font-size: 50px;
  text-align: center;
  background-color: pink;
}

.heading {
  text-align: center;
}

#subheading {
  text-align: center;
  font-size: 40px;
  background-color: pink;
}

.background {
  text-align: center;
}

.quicklinks {
  text-align: center;
  background-color: lightgrey;
}
